.cart,
.navigators ul a {
  color: #222;
}
.cart span {
  color: #fff;
}
.burger-menu {
  width: 100%;
  padding: 2.5rem 1rem;
  color: #64748b;
  background-color: #e2e8f0;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}
.burger-menu h1 {
  font-weight: 200;
}
section {
  margin-top: 3rem;
}
aside {
  margin-left: 10vw;
}
aside input {
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 1rem;
  color: #222;
  margin-bottom: 0.75rem;
  background-color: #e2e8f0;
}
aside > p {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.75rem;
  color: #0f172a;
}
aside ul,
aside li {
  list-style-type: none;
}
aside li {
  color: #64748b;
  margin-bottom: 10px;
}
@media screen and (min-width: 800px) {
  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 2rem;
  }
  aside {
    margin-left: 2vw;
    margin-right: 2rem;
  }
}
